body{
    background-size: cover;
    background-color: rgb(192,192,192);
    background: linear-gradient(bottom, rgba(192,192,192,1), rgba(192,192,192,.4));
    background: -webkit-linear-gradient(right, rgba(192,192,192,1), rgba(192,192,192,.4));
}
.attention{
    font-family: cursive;
    font-size: 15px;
    /*margin-left: 20px;*/
}
.block{
    margin: 30px 30px auto 30px;
}
.tag1{
    font-family: cursive;
    font-size: 20px;
    text-decoration: underline;
    color: rgb(88, 12, 6);
}
.tag2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(88, 12, 6);
}
.tag3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: rgb(88, 12, 6);
}
